* {
  box-sizing: border-box; }

.main {
  min-width: 1280px; }

a, a:hover, a:active {
  text-decoration: none;
  color: #3e3e3e; }

.nav {
  background-color: #446994; }
  .nav__top {
    height: 220px;
    text-align: center;
    padding-top: 40px;
    border-bottom: 3px solid #304d6f; }
    .nav__top > span {
      display: block;
      color: #ffffff;
      height: 26px; }
  .nav__body {
    height: 800px; }
  .nav__item {
    display: block;
    height: 72px;
    line-height: 72px;
    font-size: 24px;
    padding-left: 30px;
    color: #ffffff; }

.menu {
  width: 100%; }
  .menu__item {
    display: block;
    height: 60px;
    border-bottom: 1px solid #304d6f;
    line-height: 60px;
    text-align: center;
    background-color: #3c5e85;
    font-size: 22px;
    color: #ffffff;
    position: relative; }
    .menu__item > img {
      position: absolute;
      right: 18px;
      top: 18px;
      height: 24px;
      display: none; }
    .menu__item--active {
      background-color: #36567b; }
      .menu__item--active > img {
        display: block; }
    .menu__item:hover {
      cursor: pointer;
      background-color: #36567b; }

.login-bar {
  height: 80px;
  background-color: #ffffff; }
  .login-bar__left {
    height: 80px;
    line-height: 60px;
    padding-left: 20px; }
    .login-bar__left > img {
      text-align: left;
      vertical-align: bottom; }
  .login-bar__right {
    height: 80px;
    position: relative;
    padding-top: 40px;
    text-align: right;
    padding-right: 20px; }
    .login-bar__right > a {
      display: inline-block; }

.content {
  background-color: #b2daff; }

.panel--default {
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px; }

.panel__title {
  background-color: #5d9edc;
  height: 45px;
  line-height: 45px;
  font-size: 23px;
  padding-left: 20px;
  color: #ffffff; }

.panel__body {
  background-color: #eaf5ff; }

.panel--last {
  padding-bottom: 10px; }

.table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%; }
  .table > thead > tr th, .table tbody > tr th {
    padding: 8px;
    vertical-align: middle;
    border-left: 1px solid #446994;
    background-color: #5d9edc;
    height: 50px;
    color: #ffffff; }
  .table > thead > tr > td, .table tbody > tr > td {
    padding: 8px;
    vertical-align: middle;
    border-left: 1px solid #446994;
    border-top: 1px solid #446994;
    height: 50px; }
  .table > thead > tr:last-child td, .table tbody > tr:last-child td {
    border-bottom: 1px solid #446994; }
  .table > thead > tr:nth-child(odd), .table tbody > tr:nth-child(odd) {
    background-color: #ffffff; }
  .table > thead th:first-child, .table > thead td:first-child, .table tbody th:first-child, .table tbody td:first-child {
    border-left: none; }

.form {
  line-height: 50px;
  height: 50px; }
  .form__label {
    display: block;
    text-align: right;
    width: 90%; }
  .form__control {
    text-align: left;
    width: 90%;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #5d9edc;
    padding-left: 6px; }

.button {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 1px;
  margin-right: 1px; }
  .button__success {
    background-color: #ffa62c;
    color: #ffffff; }
  .button__default {
    background-color: #5d9edc; }

.text-center {
  text-align: center; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  .pagination > li {
    display: inline; }
    .pagination > li > a.active {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 15px;
      color: #ffffff;
      background-color: #5d9edc; }
