<div class="container-12"  ng-controller="MantainEquipViewController">
    <div class="container-12 panel panel--default" ng-show="errmsg != null && errmsg != ''">
        <div class="panel__title">温馨提示：</div>
        <div class="panel__body">
            <div class="container-12 form">
                <div class="c12-col-2">
                    <span class="form__label">温馨提示：</span>
                </div>
                <div class="c12-col-8">
                    {{errmsg}}
                </div>
                <div class="c12-col-2">
                    <input type="button" class="button button__success" ng-click="closeMsg()" value="知道了"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-12 panel panel--default">
        <div class="panel__body">
            <table class="table">
                <thead>
                <tr>
                    <th width="13%">设备编码</th>
                    <th width="12%">推送号</th>
                    <th width="10%">注册时间</th>
                    <th width="15%">目前所属商户</th>
                    <th width="10%">押金金额</th>
                    <th width="10%">单位</th>
                    <th width="10%">允许充值</th>
                    <th width="10%">模式</th>
                    <th width="15%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="e in equips">
                    <td>{{e.equipId}}</td>
                    <td>{{e.pushId}}</td>
                    <td>{{e.equipRegTime}}</td>
                    <td>
                        <span ng-hide="e.edit">{{getCustName(e.custId)}}</span>
                        <select class="form__control"
                                ng-options="o.custId as o.name for o in custs"
                                ng-model="editO.custId"
                                ng-show="e.edit">
                            <option value="">请选择客户</option>
                        </select>
                    </td>
                    <td>
                        <span ng-hide="e.edit">{{e.deposit}}</span>
                        <input type="text" class="form__control" placeholder="押金金额" ng-model="editO.deposit" ng-show="e.edit">
                    </td>
                    <td>
                        <span ng-hide="e.edit">{{e.unit}}</span>
                        <input type="text" class="form__control" placeholder="请输入单位" ng-model="editO.unit" ng-show="e.edit">
                    </td>
                    <td>
                        <span ng-hide="e.edit">{{getAllowChargeText(e.isAllowCharge)}}</span>
                        <select class="form__control"
                                ng-options="o.id as o.name for o in allowChargeOptions"
                                ng-model="editO.isAllowCharge"
                                ng-show="e.edit"
                        >
                            <option value="">--选择--</option>
                        </select>
                    </td>
                    <td>
                        <span ng-hide="e.edit">{{getModelText(e.model)}}</span>
                        <select class="form__control"
                                ng-options="o.id as o.name for o in equipModelOptions"
                                ng-model="editO.model"
                                ng-show="e.edit">
                            <option value="">-选择模式-</option>
                        </select>
                        <input ng-show="isShowRent(editO, e.edit)" type="text" class="form__control" placeholder="输入一个月租金金额" ng-model="editO.rent">
                        <input ng-show="isShowDrawRate(editO, e.edit)" type="text" class="form__control" placeholder="请输入抽佣比率" ng-model="editO.drawRate">
                    </td>
                    <td>
                        <button type="button" class="button button__success" ng-click="modifyEquip(e)">{{e.edit ? '保存': '编辑'}}</button>
                        <button type="button" class="button button__default" ng-click="cancel(e)" ng-show="e.edit">返回</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>